<%= render 'shared/side-bar' %>
<div class="container employer-content">
  <div class="card-detail">
    <div class="trip">
      <div class="trip-img" style='background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://source.unsplash.com/featured/?<%= @trip.destination %>}")'>
        <%= @trip.name.titleize %>
        <div class="coag-edit">
          <i class="fas fa-cogs"></i>
        </div>
        <div class="trip-dates">
          <%= @trip.start_date.strftime("%a, %d %b") %> ~ <%= @trip.end_date.strftime("%a, %d %b") %>
        </div>
        <div class="trip-total">
          Total spent: <%= number_to_currency(@trip.total_spent, unit: "￥", separator: ",", precision: 0)%>
        </div>
        <div class="trip-total">
          <p class="m-0">Remaining Budget: <%= number_to_currency(@trip.total_remaining, unit: "￥", separator: ",", precision: 0) %> (<%=@trip.budget_percent%>%)</p>
        </div>
        <div id="trip-toggle">
          <i class="fas fa-caret-down display-4 text-white-70"></i>
        </div>
        <a id="collapse-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        </a>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="trip-collapse text-center">
          <%= render 'collapse', trip: @trip %>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-btns d-flex justify-content-around">
    <%= link_to "Generate report pdf", report_path(format: :pdf), class: "btn btn-approve w-30" %>
  </div>
  <div class="w-100 border"></div>
  <h3 class="my-3 text-center">Trip Receipts</h3>
  <div class="row">
    <% @trip.receipts.each do |receipt| %>
      <article class="receipt" style="margin-bottom:150px;">
        <section class="receipt__half upper">
          <h3><%= receipt.company %></h3>
          <p class="m-0"> <%= receipt.date.strftime("%a, %d %b") %></p>
          <p class="m-0"><%= "Submitted by: #{receipt.user.first_name} #{receipt.user.last_name}" %> </p>
          <h1><%= number_to_currency(receipt.total, unit: "￥", separator: ",", precision: 0) %></h1>
          <div class="receipt__content">
            <table>
              <tbody>
                <% receipt.receipt_items.each do |item| %>
                  <tr>
                    <td><%= item.name  %></td>
                    <td><%= number_to_currency(item.amount, unit: "￥", separator: ",", precision: 0) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </section>
        <section class="receipt__half lower">
          <button>More info</button>
        </section>
      </article>
    <% end %>
  </div>
</div>
</div>