<%= render 'shared/side-bar' %>
<div class="container employer-content">
  <div class="card-detail">
    <h1> <%= @trip.name.titleize %> </h1>
    <div class="card-detail-body">
      <div class="card-detail-info">
        <div class="m-0">
          <div class="argument ml-0">
            <div class="argument-info mt-2">
              <p>Destination : <%= @trip.destination %></p>
              <p>Start Date : <%= @trip.start_date %></p>
              <p>End Date : <%= @trip.end_date %></p>
              <p>Purpose : <%= @trip.purpose  %></p>
              <p>Customer : <%= @trip.customer %></p>
              <ul class="pl-0 mt-1"><strong>Employees :</strong>
                <% @trip.users.each do |user| %>
                  <p class="mt-1"><strong><%= link_to [user.first_name, user.last_name].join(" "), user_show_path(user)%></strong>, <%= user.job_title %></p>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul class="pl-0">



        <h3 class="mt-3">Trip Receipts</h3>
        <% if @trip.receipts.nil? %>
          <p> No Receipts Yet...</p>
        <% else %>
          <% @trip.receipts.each do |receipt| %>
            <div class="argument">
              <div class="argument-info">
                <p>Company : <strong><%= link_to receipt.company, receipt_path(receipt)%></strong></p>
                <p>Total Amount : <%= receipt.total_amount %></p>
                <p>Date : <%= receipt.date %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to "Add a receipt", new_trip_receipt_path(@trip), class: "btn btn-approve w-30" %>
  <%= link_to "Generate report pdf", report_path(format: :pdf), class: "btn btn-approve w-30" %>
  <%= link_to "Edit this trip", edit_trip_path, class: "btn btn-approve w-30" %>
  <% if current_user.manager %>
    <%= link_to "Delete this trip", trip_path(@trip), method: :delete, class: "btn btn-approve w-30" %>
  <% end %>
  <% if current_user.manager %>
    <%= link_to "Go Back", employer_dashboard_path, class: "btn btn-approve w-30" %>
  <% else %>
    <%= link_to "Go Back", employer_dashboard_path, class: "btn btn-approve w-30" %>
  <% end %>
<!--

  <h3 class="mt-3">Trip Receipts</h3>

  <%# @trip.receipts.each do |receipt| %>
    <article class="receipt">
      <section class="receipt__half upper">
        <p><%= receipt.company %></p>
        <h1><%= receipt.total_amount %></h1>
        <p class="sm"><%= receipt.date %></p>

        <div class="receipt__content">
          <table>
            <tbody>
              <tr>
                <td>Faded jeans</td>
                <td>$39.99</td>
              </tr>
              <tr>
                <td>Sleeveless shirt</td>
                <td>$19.99</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="receipt__half lower">
        <button>More info</button>
      </section>
    </article>
  <%# end %>

</div>
 -->
