<%= simple_form_for @trip do |f| %>
  <%= f.input :name, class: "form-control" %>
  <%= f.input :destination, class: "form-control"  %>
  <%= f.input :purpose, class: "form-control" %>
  <%= f.input :customer, class: "form-control" %>
  <%= f.input :start_date, class: "form-control" %>
  <%= f.input :end_date, class: "form-control" %>
  <%= f.association :users,  as: :check_boxes, label: "Employees", label_method: lambda {|employee| "#{employee.first_name} #{employee.last_name} - #{employee.job_title}"}, include_hidden: false %>
  <%= f.association :budgets,  as: :check_boxes, label: "Budgets", label_method: lambda {|budget| "#{budget.name} - #{number_to_currency(budget.amount, unit: "￥", separator: ",", precision: 0)}"}, include_hidden: false %>
  <div class="card-detail mt-3 mb-3">
    <% if @trip.id.nil? %>
      <%= link_to "Go back", employer_dashboard_path, class: "btn btn-approve w-30" %>
    <% else %>
      <%= link_to "Go back", trip_path(@trip), class: "btn btn-approve w-30" %>
    <% end %>
    <%= f.button :submit, class: "btn btn-approve w-30" %>
  </div>
<% end %>