<%= simple_form_for @trip, html: {class: "form-style"} do |f| %>
  <%= f.input :name, class: "form-control" %>
  <%= f.input :destination, class: "form-control"  %>
  <%= f.input :purpose, class: "form-control" %>
  <%= f.input :customer, class: "form-control" %>
   <div class="row justify-content-between">
    <div class="col-md-6">
      <%= f.input :start_date, as: :string, class: "form-control", input_html: {class: "datepicker"} %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_date, as: :string, class: "form-control", input_html: {class: "datepicker"} %>
    </div>
  </div>
  <%= f.association :users, label: "Employees", label_method: lambda {|employee| "#{employee.first_name} #{employee.last_name} - #{employee.job_title}"}, include_hidden: false, input_html: {class: "select2"}  %>
  <%= f.association :budgets, as: :check_boxes, label: "Allowances", label_method: lambda {|budget| "#{budget.name}"}, include_hidden: false %>
  <%= button_tag type: :submit, class: "btn btn-approve w-30 submit-button" do %>
    Add a new Trip
  <% end %>
  <div class="icon-back mx-auto">
    <%= link_to :back do %>
      <%= image_tag "left-arrow" %>
    <% end %>
  </div>
<% end %>
