<%= render 'shared/side-bar' %>
<div class="container">


  <h1><%= "Welcome, #{current_user.first_name} #{current_user.last_name}" %></h1>
  <h2>Your list of trips</h2>
    <% @trips.each do |trip| %>
      <div class="argument">
        <div class="argument-info">
          <p><strong><%= link_to trip.name, trip_path(trip)%></strong></p>
          <p><%= trip.destination %></p>
          <p><%= trip.purpose %></p>
          <p> Budget = 55000 yens </p>
        </div>
      </div>
    <% end %>
  <%= link_to "Create a new trip", new_trip_path, class: "btn btn-approve w-30 my-3"  %>

</div>
