<%= render 'shared/side-bar' %>
<div class="container employer-content">
  <h2>Your list of trips</h2>
    <% @trips.each do |trip| %>
      <div class="argument">
        <div class="argument-info">
          <p><strong><%= link_to trip.name, trip_path(trip)%></strong></p>
          <p><%= trip.destination %></p>
          <p><%= trip.purpose %></p>
          <p>Total Budget: <%= number_to_currency(trip.total_budget, unit: "￥", separator: ",", precision: 0) %> </p>
          <p><p>Remaining Budget: <%= number_to_currency(trip.total_remaining, unit: "￥", separator: ",", precision: 0) %> ( <%= trip.budget_percent %> %)</p>
        </div>
      </div>
    <% end %>
  <%= link_to "Create a new trip", new_trip_path, class: "btn btn-approve w-30 my-3"  %>
</div>
