<%= simple_form_for([receipt, receipt_item], remote: true, html: { novalidate: true, class: "form-style m-0 p-0 no-bs-validation" }) do |f| %>
  <div class="mt-3 receipt-input" id="receipt-input">
    <div>
      <%= f.input :name, label: false, placeholder: 'item' %>
    </div>
    <div>
      <%= f.input :tax, as: :radio_buttons, collection: [[8, '8%'], [10, '10%']], label: false, label_method: :second, value_method: :first, label_html: { class: 'is-valid' } %>
    </div>
    <div>
      <%= f.input :amount, label: false, placeholder: 'price' %>
    </div>
    <div>
      <%= button_tag type: 'submit', class: "btn btn-approve-outline m-0" do %>
        <i class="fas fa-plus p-2"></i>
      <% end %>
    </div>
  </div>
<% end %>
