<div class="container">
  <%= simple_form_for [@receipt, @receipt_item], html: {class: "form-style-9"} do |f| %>
    <%= f.input :name %>
    <%= f.input :amount %>
    <%= f.input :tax %>
    <%= f.submit %>
  <% end %>
</div>