<%= simple_form_for [@receipt, @receipt_item], html: {class: "form-style"} do |f| %>
  <div class="d-flex">
    <%= f.input :name, label: false, placeholder: 'item' %>
    <%= f.input :amount, label: false, placeholder: 'amount' %>
    <%= f.input :tax, label: false, placeholder: 'tax' %>
  </div>
  <%= f.button :submit, class: "btn btn-approve w-30" %>
<% end %>
