<tr data-toggle="collapse" data-target="#a-<%= item.id %>" aria-expanded="false" aria-controls="<%= item.id %>">
  <td width="50%"><%= item.name %></td>
  <td width="20%"><%= number_to_currency(item.tax_amount, unit: "￥", separator: ",", precision: 0) %></td>
  <td width="25%"><%= number_to_currency(item.amount, unit: "￥", separator: ",", precision: 0) %></td>
  <td width="5%">
    <i class="fas fa-ellipsis-v"></i>
  </td>
</tr>
<tr class="collapse" id="a-<%= item.id %>">
  <tr class="collapse center" id="a-<%= item.id %>">
    <td style="text-align: center;" class="btn-td" width="50%">
      <%= link_to edit_receipt_item_path(item), class: "btn btn-table-edit" do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    <td style="text-align: center;" class="btn-td center" width="50%">
      <%= link_to receipt_item_path(item), method: :delete, class: "btn btn-table-delete" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </td>
  </tr>
</tr>
