<div class="container center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Tax</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% receipt.receipt_items.each do |item| %>
        <tr class="item-list">
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.amount, unit: "￥", separator: ",", precision: 0) %></td>
          <td><%= number_to_currency(item.tax, unit: "￥", separator: ",", precision: 0) %></td>
          <td class="table-actions flex-center">
            <%= link_to edit_receipt_item_path(item) do %>
              <i class="fas fa-pencil-alt mr-3 blue"></i>
            <% end %>
            <%= link_to receipt_item_path(item), method: :delete do %>
              <i class="fas fa-trash ml-3 red"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
