<div class="topnav">
  <div class="navbox">
    <%= link_to employee_dashboard_path do %>
      <%= image_tag "https://i.ibb.co/2nnQ11v/Logo-Makr-5-Vi-Zo-Y.png" %>
    <% end %>
    <p>Hello, <%= current_user.first_name %>!</p>
  </div>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
     <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" id="employeeNavbarToggle">
    <i class="fa fa-bars"></i>
  </a>
</div>
