<div class="navbar">
  <header class="main-head">
    <nav class="head-nav">
      <ul class="menu">
        <li class="justify-content-around">
          <%= link_to employer_dashboard_path do %>
            <div class="mx-3">
              <%= image_tag @current_user.avatar, class: "avatar", alt: "avatar-large" %>
            </div>
            <span class=""> <%= @current_user.first_name %> <%= @current_user.last_name %> </span>
          <% end %>
        </li>
        <li class="justify-content-around">
          <%= link_to employer_dashboard_path do %>
            <div class="mx-3">
              <i class="fas fa-home fa-2x"></i>
            </div>
            <span class="">Dashboard</span>
          <% end %>
        </li>
        <li class="justify-content-around">
          <%= link_to trips_path do %>
            <div class="mx-3">
              <i class="fas fa-plane fa-2x"></i>
            </div>
            <span class="">Trips</span>
          <% end %>
        </li>
        <li class="justify-content-around">
          <%= link_to employer_index_path do %>
            <div class="mx-3">
              <i class="fas fa-user-friends fa-2x"></i>
            </div>
            <span class="">Employees</span>
          <% end %>
        </li>
        <li class="justify-content-around">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="mx-3">
              <i class="fas fa-sign-out-alt fa-2x"></i>
            </div>
            <span class="">Sign Out</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>
  <div class="wrap-all-the-things"></div>
</div>
