<%= render 'shared/side-bar' %>
<div class="d-flex justify-content-center">
  <div class="width-200">
  </div>
  <div class="container">
    <div class="card-detail">
      <h1> <%= @user.first_name.titleize %> <%= @user.last_name.titleize %></h1>
      <h2> <%= @user.job_title %></h2>
      <!-- img of the employee -->
      <img src=<%= user.avatar %> >
       <% @user.trips.each do |trip| %>
        <div class="argument">
          <div class="argument-info">
            <p><strong><%= link_to trip.name, trip_path(trip)%></strong></p>
            <p><%= trip.destination %></p>
            <p><%= trip.purpose %></p>
            <p> Budget = 55000 yens </p>
          </div>
        </div>
      <% end %>
      <%= link_to "Go Back", employer_dashboard_path, class: "btn btn-approve w-30" %>
    </div>
  </div>
</div>
