<%= render 'shared/side-bar' %>
<div class="container">
  <div class="container">
  <h1> Dashboard</h1>

   <div class="card">
    <h5 class="card-header"><%= link_to @user.trips.last.name, trip_path(@user.trips.last)%></h5>
    <div class="card-body">
      <h5 class="card-title"><%= @user.trips.last.destination %></h5>
      <p class="card-text"><%= @user.trips.last.purpose %></p>
      <p class="card-text">Total Budget: <%= number_to_currency(@user.trips.last.total_budget, unit: "￥", separator: ",", precision: 0) %> </p>
      <p class="card-text"><p>Remaining Budget: <%= number_to_currency(@user.trips.last.total_remaining, unit: "￥", separator: ",", precision: 0) %> (<%=@user.trips.last.budget_percent%>%)</p>
    </div>
  </div>

  <div class="dash-container my-3">
    <div class="dash-stats m-3">
      <h3>Spend over past month</h3>
      <% @month = Trip.total_spend(30) %>
      <% @month.each do |category, amount| %>
        <div class="dash-stats-item">
          <p><%= category.capitalize %>:</p>
          <p><%= number_to_currency(amount, unit: "￥", separator: ",", precision: 0) %></p>
        </div>
      <% end %>
      <p><strong>Total amount: <%= number_to_currency(@month.values.sum, unit: "￥", separator: ",", precision: 0) %></strong></p>
    </div>
    <div class="dash-stats m-3">
      <h3> Top 5 locations</h3>
      <% @location_spend = Trip.location_spend %>
      <% @location_spend.first(5).each do |location, amount| %>
        <div class="dash-stats-item">
          <p><%= location %>:</p>
          <p><%= number_to_currency(amount, unit: "￥", separator: ",", precision: 0) %></p>
        </div>
      <% end %>
      <p><strong>Total amount: <%= number_to_currency(@location_spend.values.sum, unit: "￥", separator: ",", precision: 0) %></strong></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="argument-info padding-59px">
  <%= link_to "Create a new trip", new_trip_path, class: "btn btn-approve w-30"  %>
</div>
</div>
