<%= render 'shared/side-bar' %>
<div class="container employer-content">
  <div class="container">
    <h1> Dashboard</h1>

    <div class="trip">
      <div class="trip-img" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://source.unsplash.com/featured/?<%= @user.trips.last.destination %>}")'>
      <%= @user.trips.last.destination %>
      <div class="trip-dates">
        <%= @user.trips.last.start_date.strftime("%a, %d %b") %> - <%= @user.trips.last.end_date.strftime("%a, %d %b") %>
      </div>
      <div class="trip-total">
        Total Budget: <%= number_to_currency(@user.trips.last.total_budget, unit: "￥", separator: ",", precision: 0) %>
        <p>Remaining Budget: <%= number_to_currency(@user.trips.last.total_remaining, unit: "￥", separator: ",", precision: 0) %> (<%=@user.trips.last.budget_percent%>%)</p>
      </div>
      <a id="collapse-link" href="/trips/<%= @user.trips.last.id %>" >
      </a>
    </div>
    </div>



    <div class="dash-container my-3">
      <div class="dash-stats m-3">
        <h3>Spend over past month</h3>
        <% @month = Trip.total_spend(30) %>
        <% @month.each do |category, amount| %>
          <div class="dash-stats-item">
            <p><%= category.capitalize %>:</p>
            <p><%= number_to_currency(amount, unit: "￥", separator: ",", precision: 0) %></p>
          </div>
        <% end %>
        <p><strong>Total amount: <%= number_to_currency(@month.values.sum, unit: "￥", separator: ",", precision: 0) %></strong></p>
      </div>
      <div class="dash-stats m-3">
        <h3> Top 5 locations</h3>
        <% @location_spend = Trip.location_spend %>
        <% @location_spend.first(5).each do |location, amount| %>
          <div class="dash-stats-item">
            <p><%= location %>:</p>
            <p><%= number_to_currency(amount, unit: "￥", separator: ",", precision: 0) %></p>
          </div>
        <% end %>
        <p><strong>Total amount: <%= number_to_currency(@location_spend.values.sum, unit: "￥", separator: ",", precision: 0) %></strong></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="argument-info padding-59px">
      <%= link_to "Create a new trip", new_trip_path, class: "btn btn-approve w-30"%>
    </div>
  </div>
</div>
