<%= render 'shared/side-bar' %>
<div class="container employer-content">
  <div class="container">
    <h1> Dashboard</h1>

    <div class="card">
      <h5 class="card-header"><%= @user.trips.last.destination %></h5>
      <div class="card-body">
        <h5 class="card-title"> <%= link_to @user.trips.last.name, trip_path(@user.trips.last)%></h5>
        <p class="card-text"><%= @user.trips.last.purpose %></p>
        <p class="card-text">Total Budget: <%= number_to_currency(@user.trips.last.total_budget, unit: "￥", separator: ",", precision: 0) %> </p>
        <p class="card-text"><p>Remaining Budget: <%= number_to_currency(@user.trips.last.total_remaining, unit: "￥", separator: ",", precision: 0) %> (<%=@user.trips.last.budget_percent%>%)</p>
      </div>
    </div>

    <div class="dash-container my-3">
      <div class="dash-stats m-3">
        <h3>Spending over past month</h3>
        <%= pie_chart(Trip.total_spend(30)) %>
      </div>
      <div class="dash-stats m-3">
        <h3> Top 5 locations</h3>
        <% @location_spend = Trip.location_spend %>
        <%= column_chart(@location_spend.first(5)) %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="argument-info padding-59px">
      <%= link_to "Create a new trip", new_trip_path, class: "btn btn-approve w-30"%>
    </div>
  </div>
</div>
