<%= render 'shared/side-bar' %>
<div class="container">
  <h1>Your Current Trip</h1>
  <p><%= @user.first_name %> <%= @user.last_name %></p>
  <%= link_to "Create a new trip", new_trip_path, class: "btn btn-approve w-30"  %>
  <div class="dash-container">
    <div class="argument m-0 w-50 mt-3">
      <div class="argument-info">
        <p><strong><%= link_to @user.trips.last.name, trip_path(@user.trips.last)%></strong></p>
        <p><%=  @user.trips.last.destination %></p>
        <p><%=  @user.trips.last.purpose %></p>
        <p>Total Budget: <%= number_to_currency(@user.trips.last.total_budget, unit: "￥", separator: ",", precision: 0) %> </p>
        <p>Remaining Budget: <%= number_to_currency(@user.trips.last.total_remaining, unit: "￥", separator: ",", precision: 0) %> (<%=@user.trips.last.budget_percent%>%) </p>
      </div>
    </div>
    <div class="dash-stats">
      <h3>Spend over past month</h3>
      <% @month = Trip.total_spend(30) %>
      <% @month.each do |category, amount| %>
        <div class="dash-stats-item">
          <p><%= category.capitalize %>:</p>
          <p><%= number_to_currency(amount, unit: "￥", separator: ",", precision: 0) %></p>
        </div>
      <% end %>
      <p><strong>Total amount: <%= number_to_currency(@month.values.sum, unit: "￥", separator: ",", precision: 0) %></strong></p>
    </div>
  </div>
  <div class="dash-stats">
  </div>
</div>