<%= render 'shared/side-bar' %>
<div class="d-flex justify-content-center">
  <div class="width-200">
  </div>
  <div class="container employer-content">
    <h1 style="text-align:center;">Employee List</h1>
    <!-- linebreak -->
    <div class="w-100 border"></div>
    <!-- linebreak -->
    <% @users.each do |user| %>
      <div class="card-product my-3">
        <img src=<%= user.avatar %> >
        <div class="card-product-infos">
          <h2><%= link_to [user.first_name, user.last_name].join(" "), user_show_path(user) %></h2>
          <p><strong><%= "#{user.email}" %></strong></p>
          <p><%= user.job_title %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
