<%= render 'shared/side-bar' %>

<div class="container employer-content">
  <% @users.each do |user| %>
    <div class="card-product">
      <img src=<%= user.avatar %> >
      <div class="card-product-infos">
        <h2><%= link_to [user.first_name, user.last_name].join(" "), user_show_path(user)%></h2>
        <p><strong><%= "#{user.email}" %></strong></p>
        <p><%= user.job_title %> </p>
      </div>
    </div>
  <% end %>
</div>

