<div class="container center">
  <% if @receipt.receipt_items.empty? %>
    <div class="container">
      <p>Please enter each item from your receipt below.</p>
    </div>
  <% end %>
  <div id="new-item-form">
    <%= render 'receipt_items/form', receipt: @receipt, receipt_item: @receipt_item %>
  </div>
  <table class="table table-hover receipt-table">
    <thead id="receipt-table-head">
      <tr id="head-row" style="border-bottom: 3px solid black;">
        <th width="50%">Item</th>
        <th width="20%">Tax</th>
        <th width="25%">Price</th>
        <th width="5%"></th>
      </tr>
    </thead>
    <tbody id='receipt-table-body'>
      <% receipt.receipt_items.each do |item| %>
        <tr data-toggle="collapse" data-target="#a-<%= item.id %>" aria-expanded="false" aria-controls="<%= item.id %>">
          <td width="50%"><%= item.name %></td>
          <td width="20%"><%= number_to_currency(item.tax_amount, unit: "￥", separator: ",", precision: 0) %></td>
          <td width="25%"><%= number_to_currency(item.amount, unit: "￥", separator: ",", precision: 0) %></td>
          <td width="5%">
            <i class="fas fa-ellipsis-v"></i>
          </td>
        </tr>
        <tr class="collapse center" id="a-<%= item.id %>">
          <td style="text-align: center;" class="btn-td" width="50%">
            <%= link_to edit_receipt_item_path(item), class: "btn btn-table-edit" do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          <td style="text-align: center;" class="btn-td center" width="50%">
            <%= link_to receipt_item_path(item), method: :delete, class: "btn btn-table-delete" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr style="border-top: 2px solid black;">
        <td width="45%" style="text-align: right;"><b>Total tax: </b></td>
        <td width="25%"></td>
        <td id="receipt-total-tax" width="25%" style="text-align: left;"><%= number_to_currency(receipt.total_tax, unit: "￥", separator: ",", precision: 0) %></td>
        <td width="5%"></td>
      </tr>
      <tr>
        <td width="45%" style="text-align: right; border-top: none;"><b>Total: </b></td>
        <td id="receipt-total" width="50%" style="text-align: center; border-top: none;" <%=raw 'style=color: red' if receipt.all_items? %>><%= number_to_currency(receipt.total, unit: "￥", separator: ",", precision: 0) %> / <%= number_to_currency(receipt.total_amount, unit: "￥", separator: ",", precision: 0) %></td>
        <td width="5" style="border-top: none;"></td>
      </tr>
    </tbody>
  </table>

</div>
