<div class="container center">
  <% if @receipt.receipt_items.empty? %>
    <div class="container" id="no-items">
      <p>Please enter each item from your receipt below.</p>
    </div>
  <% end %>
  <table>
    <thead id="receipt-table-head">
      <tr id="head-row" style="border-bottom: 3px solid black;">
        <th width="45%">Item</th>
        <th width="20%">Tax</th>
        <th width="25%">Price</th>
        <th width="15%"></th>
      </tr>
    </thead>
  </table>
  <div id="new-item-form">
    <%= render 'receipt_items/form', receipt: @receipt, receipt_item: @receipt_item %>
  </div>
  <table class="table table-hover receipt-table">
    <tbody id='receipt-table-body'>
      <% receipt.receipt_items.each do |item| %>
        <%= render 'receipt_items/row', item: item %>
      <% end %>
      <tr style="border-top: 2px solid black;">
        <td width="50%" style="text-align: right;"><b>Total tax: </b></td>
        <td width="20%"></td>
        <td id="receipt-total-tax" width="25%" style="text-align: right;"><%= number_to_currency(receipt.total_tax, unit: "￥", separator: ",", precision: 0) %></td>
        <td width="5%"></td>
      </tr>
      <tr>
        <td width="50%" style="text-align: right; border-top: none;"><b>Total: </b></td>
        <td width="45%" class="d-flex justify-content-end" style="border-top: none;" <%=raw 'style=color: red' if receipt.all_items? %>>
          <div id="receipt-total">
            <%= number_to_currency(receipt.total, unit: "￥", separator: ",", precision: 0) %>
          </div>
          <div class="d-flex">&nbsp;/ <%= number_to_currency(receipt.total_amount, unit: "￥", separator: ",", precision: 0) %>
          </div>
        </td>
        <td width="5%" style="border-top: none;"></td>
      </tr>
    </tbody>
  </table>
</div>
