<div class="mobile-wrapper">
  <%= render 'receipts/employee_receipt_heading', receipt: @receipt %>
  <div class="flex-center">
    <%= link_to edit_receipt_path(@receipt) do %>
      <div class="edit-button">
        <i class="fas fa-pencil-alt"></i>
      </div>
    <% end %>
    <%= link_to trip_path(@receipt.trip) do %>
      <div class="new-button">
        <i class="far fa-check-circle"></i>
      </div>
    <% end %>
    <%= link_to receipt_path(@receipt), method: :delete do %>
      <div class="delete-button">
        <i class="fas fa-trash"></i>
      </div>
    <% end %>
  </div>
  <% if @receipt.receipt_items.empty? %>
    <div class="container">
      <p>Please enter each item from your receipt below.</p>
    </div>
  <% else %>
    <%= render 'receipts/employee_receipt_item_list', receipt: @receipt %>
  <% end %>
    <div class="container">
  <%= render 'receipt_items/form' %>
    </div>
  <%= cl_image_tag @receipt.photo.key, height: 300, width: 400, crop: :fill if @receipt.photo.attached? %>
</div>
