<div class="container center">
  <table class="table table-hover receipt-table">
    <thead>
      <tr>
        <th width="50%">Item</th>
        <th width="25%">Tax</th>
        <th width="25%">Price</th>
      </tr>
    </thead>
    <tbody>
      <% receipt.receipt_items.each do |item| %>
        <tr data-toggle="collapse" data-target="#a-<%= item.id %>" aria-expanded="false" aria-controls="<%= item.id %>">
          <td width="50%"><%= item.name %></td>
          <td width="25%"><%= number_to_currency(item.tax_amount, unit: "￥", separator: ",", precision: 0) %></td>
          <td width="25%"><%= number_to_currency(item.amount, unit: "￥", separator: ",", precision: 0) %></td>
        </tr>
        <tr class="collapse" id="a-<%= item.id %>">
          <td class="btn-td" width="50%">
            <%= link_to "Edit", edit_receipt_item_path(item), class: "btn btn-table-edit" %>
          <td class="btn-td" colspan="2" width="50%">
            <%= link_to "Delete", receipt_item_path(item), method: :delete, class: "btn btn-table-delete" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" width="50%" style="text-align: right;"><b>Total tax: </b></td>
        <td><%= number_to_currency(receipt.total_tax, unit: "￥", separator: ",", precision: 0) %></td>
      </tr>
      <tr>
        <td colspan="2" width="50%" style="text-align: right;"><b>Total: </b></td>
        <td <%=raw 'style=color: red' if receipt.all_items? %>><%= number_to_currency(receipt.total, unit: "￥", separator: ",", precision: 0) %> / <%= number_to_currency(receipt.total_amount, unit: "￥", separator: ",", precision: 0) %></td>
      </tr>
    </tbody>
  </table>

</div>
