<%= render 'shared/side-bar' %>

<div class="container">
  <div class="card-detail">
    <h1> <%= @receipt.company.titleize %> </h1>
    <div class="card-detail-body">
      <div class="card-detail-info">
        <ul>
          <p>Company : <%= @receipt.company %></p>
          <p>Date : <%= @receipt.date %></p>
          <p>Total Amount : <%= @receipt.total_amount %></p>
          <p>Tax Amount : <%= @receipt.tax_amount  %></p>
          <p>Category : <%= @receipt.category %></p>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to "Add a new item", new_receipt_receipt_item_path(@receipt), class: "btn btn-approve w-30" %>
  <%= link_to "Edit this receipt", edit_receipt_path, class: "btn btn-approve w-30" %>
  <% if current_user.manager %>
    <%= link_to "Delete this receipt", receipt_path(@receipt), method: :delete, class: "btn btn-approve w-30" %>
  <% end %>
  <% if current_user.manager %>
    <%= link_to "Go Back", employer_dashboard_path, class: "btn btn-approve w-30" %>
  <% else %>
    <%= link_to "Go Back", employee_dashboard_path, class: "btn btn-approve w-30" %>
  <% end %>
</div>
