<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Primary Meta Tags -->
    <title>Bokkun - Expense Management System</title>
    <meta name="title" content="Bokkun - Expense Management System">
    <meta name="description" content="Simplify your expenses using OCR and beautiful graphs, try Bokkun today!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.bokkun.me/">
    <meta property="og:title" content="Bokkun - Expense Management System">
    <meta property="og:description" content="Simplify your expenses using OCR and beautiful graphs, try Bokkun today!">
    <meta property="og:image" content="https://res.cloudinary.com/kinzame-herokuapp-com/image/upload/v1583718238/banner/bokkun_banner_f5pld9.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.bokkun.me/">
    <meta property="twitter:title" content="Bokkun - Expense Management System">
    <meta property="twitter:description" content="Simplify your expenses using OCR and beautiful graphs, try Bokkun today!">
    <meta property="twitter:image" content="https://res.cloudinary.com/kinzame-herokuapp-com/image/upload/v1583718238/banner/bokkun_banner_f5pld9.png">
    <!-- Meta tags done -->
    <title>Bokkun</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%#= render 'shared/flashes' %>
    <%#= render 'shared/navbar' %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' unless current_user.manager %>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
